#container
{
	width: 900px;
	height: 900px;
	Background-color: white;
	margin: 30px auto;
}

div
{
	padding: 0px;
	margin: 0px;
	position: relative;
	Background-color: white;
}

.innerBox
{
	display: inline-block;
	border: dashed;
	border-color: black;
	border-width: 1px;
}
